include ../mixins/forms.pug

doctype html
html(lang="en")
    head
        title Welbex blog
        script(src='/assets/main.js')
        link(href='/assets/main.css' rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body.d-flex.flex-column.min-vh-100
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
            .container-fluid
                a.navbar-brand(href='/')= 'Welbex blog'
                button.navbar-toggler(data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse(id="navbarToggleExternalContent")
                    .container-fluid
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link(href='/posts')= 'Список постов'
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/login')= 'Вход'
                        li.nav-item
                            a.nav-link(href='/users/new')= 'Регистрация'
        .container.wrapper.flex-grow-1

            h1.my-4
                block header
            block content

        footer
            .container.my-5.pt-4.border-top
